<h1>Auction</h1>
<table class="table">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>End Time</th>
    <th><!-- show --></th>
    <th><!-- edit --></th>
    <th><!-- delete --></th>
  </tr>
  <%= render @auction %>

</table>

<%= link_to "New Auction", new_auction_path, :class => "btn btn-primary" %>


<h1>Bids</h1>
<table class="table">
  <tr>
    <th>Bidder</th>
    <th>Amount</th>
  </tr>
  <%= render @auction.bids %>

</table>

<%= link_to "New Bid", new_auction_bid_path(@auction), :class => "btn btn-primary" %>
