<h1>Account</h1>
<h3>Edit your account n' stuff.</h3>

<%= render :partial => 'errors', 
           :locals => { :object => @user } if @user.errors.any? %>
<%= render 'form' %>

<br>
<%= link_to "Destroy Account!!!", user_path(@user), :method => "Delete",
  :class => "btn btn-danger",
  :data => { :confirm => "Are you sure?  What about your BeeNee Babez?" }%>
