<div class="row">
  <div class="col-xs-5 col-xs-offset-1">
    <h1>Register</h1>
    <h3>Sell all your beanie babies.</h3>

    <%= render :partial => "errors", :locals => { :object => @user } if @user.errors.any? %>
    <%= render :partial => 'users/form' %>

  </div>
</div>
